<div class="m-5">
    <h2>Available drones</h2>
    <div class="container">
        <div class="row">
            {{#each drones}}
            {{> dronePartial this}}
            {{/each}}

        </div>
        <a href="drones/create" class="btn btn-warning m-3"> Create new drone</a>
    </div>

</div>